<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <settings>  
        <setting name="cacheEnabled" value="true" />  
        <setting name="lazyLoadingEnabled" value="true" />  
        <setting name="multipleResultSetsEnabled" value="true" />  
        <setting name="useColumnLabel" value="true" />  
        <setting name="defaultExecutorType" value="REUSE" />  
        <setting name="defaultStatementTimeout" value="25000" />
        <setting name="jdbcTypeForNull" value="VARCHAR"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>
    
    <!-- 类别名 -->
    <typeAliases>
    	<typeAlias alias="HashMap" type="java.util.HashMap"/>
    	<typeAlias alias="ArrayList" type="java.util.ArrayList"/>
    	<typeAlias alias="Integer" type="java.lang.Integer"/>
    	<typeAlias alias="Long" type="java.lang.Long"/>
    	
    	<!-- 参数配置相关 -->
    	<typeAlias alias="DataDict" type="com.whty.service.basicData.model.DataDict"/>
    </typeAliases>      
</configuration>